<!DOCTYPE html>

<html>

<head>
    <title>Shubra mausam Samachar</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<head>
  <title>COLD PRESS OIL STORE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="css/animate.css">

  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">

  <link rel="stylesheet" href="css/flaticon.css">
  <link rel="stylesheet" href="css/home.css">
</head>



<body>

  <div class="hero-wrap" style="background-image: src=/img/BG.png" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-8 ftco-animate d-flex align-items-end">
          <div class="text w-100 text-center">
            <h1 class="mb-4">GOOD <span>Weather</span> for GOOD <span>HEART</span>.</h1>
              <img class="portrait" src="/img/BG.png">

          </div>
        </div>
      </div>
    </div>
  </div>

  <a href = "https://github.com/Yash-567">
    GITHUB PROFILE
  </a>



    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!
        Matlab mausam ka hal dekhe</p>

        <form>
            <input placeholder = "location">
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>
